*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary-Green500: hsl(158, 36%, 37%);
    --clr-primary-Green700: hsl(158, 42%, 18%);

    --clr-neutral-Black: hsl(212, 21%, 14%);
    --clr-neutral-Grey: hsl(228, 12%, 48%);
    --clr-neutral-Cream: hsl(30, 38%, 92%);
    --clr-neutral-White: hsl(0, 0%, 100%);

    --fs-body: 16px;
}

html,
body {
    background: var(--clr-neutral-Cream);
    font-family: "Montserrat", sans-serif;
    font-size: var(--fs-body);
}

main {
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    max-width: 353px;
    border-radius: 10px;
}

.perfume-img {
    width: 22rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.desktop-only {
    display: none;
}

.section-info {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    background-color: var(--clr-neutral-White);
    padding: 2rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.product-type {
    text-transform: uppercase;
    letter-spacing: .4rem;
    color: var(--clr-neutral-Grey);
    font-weight: 500;
}

.product-name {
    font-family: "Fraunces", serif;
    font-weight: 700;
    line-height: 2.3rem;
    color: var(--clr-neutral-Black);
}

.product-detail {
    color: var(--clr-neutral-Grey);
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.4rem;
}

.price {
    display: flex;
    align-items: center;
    font-family: "Fraunces", serif;
    font-size: 2.1rem;
    color: var(--clr-primary-Green500);
}

.price>span {
    margin-left: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: .9rem;
    font-weight: 600;
    text-decoration: line-through;
    color: var(--clr-neutral-Grey);
}

button {
    border: none;
    background: var(--clr-primary-Green500);
    color: var(--clr-neutral-White);
    padding: 1rem 0;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 700;
}

button:hover,
button:active {
    cursor: pointer;
    background-color: var(--clr-primary-Green700);
}

.icon-btn {
    margin-right: 0.8rem;
    width: 1.1rem;
}

@media (min-width: 54rem) {

    html,
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 40.625rem;
    }

    .perfume-img {
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
        width: 50%;
        height: 28.94rem;
    }

    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: inline;

    }

    .section-info {
        padding: 2rem;
        width: 48%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    .product-name {
        word-spacing: 0.2rem;
    }


}

/* .attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */