*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary-Green500: hsl(158, 36%, 37%);
    --clr-primary-Green700: hsl(158, 42%, 18%);

    --clr-neutral-Black: hsl(212, 21%, 14%);
    --clr-neutral-Grey: hsl(228, 12%, 48%);
    --clr-neutral-Cream: hsl(30, 38%, 92%);
    --clr-neutral-White: hsl(0, 0%, 100%);

    --fs-body: 14px;
}

body {
    background: var(--clr-neutral-Cream);
    font-family: "Montserrat", sans-serif;

}

main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 70%;
    margin: 3rem auto;

    height: 100vh;
    max-width: 353px;
    min-width: 353px;
    border-radius: 10px;
}

.perfume-img {
    width: 353px;
    /* height: 350px; */
    /* min-width: 150px; */
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.desktop-only {
    display: none;
}

.section-info {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    /* align-items: center; */
    background-color: var(--clr-neutral-White);
    padding: 2rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.product-type {
    text-transform: uppercase;
    letter-spacing: .4rem;
    color: var(--clr-neutral-Grey);
    font-weight: 500;
    /* border: 1px solid lightgreen; */
}

.product-name {
    /* border: 1px solid lightgreen; */
    font-family: "Fraunces", serif;
    font-weight: 700;
    line-height: 2.3rem;
    color: var(--clr-neutral-Black);
}

.product-detail {
    /* border: 1px solid lightgreen; */
    color: var(--clr-neutral-Grey);
    font-size: .9rem;
    font-weight: 500;
}

.price {
    display: flex;
    align-items: center;
    font-family: "Fraunces", serif;
    font-size: 2.1rem;
    color: var(--clr-primary-Green500);
    /* border: 1px solid lightgreen; */
}

.price>span {
    margin-left: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: .9rem;
    font-weight: 600;
    text-decoration: line-through;
    color: var(--clr-neutral-Grey);
}

button {
    border: none;
    background: var(--clr-primary-Green500);
    color: var(--clr-neutral-White);
    padding: .9rem 0;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: 700;
}

@media (min-width: 850px) {
    main {
        display: flex;
        flex-direction: row;
        max-width: 750px;
    }

    .perfume-img {
        width: auto;
        /* height: 350px; */
        /* min-width: none; */
    }

    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: inline;

    }

}

/* .attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */