* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;

    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.section-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */